<!-- Layout for header -->

<template>
    <div class="bg-emerald-50 ">
        <!-- set bg image -->
        <div class="relative bg-emerald-200 overflow-hidden">

        </div>
      <div class="mx-auto max-w-7xl py-12 px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          <span class="block">Love bicyle Rides, Here are the best routes </span>
          <span class="block text-indigo-600">
            Explore the world with us
          </span>
        </h2>
        <!-- set bg image -->

        
        
      </div>
    </div>
  </template>
  
  
<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const imageUrl = ref('https://media.istockphoto.com/id/480235449/photo/teenage-girl-and-boy-biking-on-forest-trails.jpg?s=612x612&w=0&k=20&c=9RNlY28vT1Wi7lcngqe_o2cuhwhcQjQIHOEJSAXNltQ=')



</script>
  

